* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}
.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26; /* 126.316% */
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.header .action {
  margin-left: 49px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* *========= Hero========== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  vertical-align: bottom;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.hero-summary .item {
  display: flex;
  align-items: center;
}

.hero-summary .item + .item {
  margin-top: 22px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}

.hero-summary .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}

.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}

.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}

.hero .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
}

.hero .stats {
  margin: 8px 0 0 -28px;
}

.hero .stats strong {
  padding: 0 8px 0 28px;
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 1.23;
  color: #171100;
}

/* ========Popular========= */

.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular .heading {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.popular-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .desc {
  width: 458px;
  margin-top: 16px;
  color: #5f5b53;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

/* =========Course========= */

.popular .course-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.popular .course-item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  flex: 1;
}

.popular .course-item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.01);
  border-color: transparent;
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  margin: -1px;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
}

.popular .course-item .info {
  padding: 16px 22px 22px;
}

.popular .course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .title a {
  color: #171100;
  padding-right: 6px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .value {
  color: #fea31b;
  margin-left: 6px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.popular .course-item .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.popular .course-item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular .course-item .foot {
  margin-top: 12px;
}

.popular .course-item .book-btn {
  border: none;
}

.popular .course-item .book-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* ========Feedback======== */

.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list {
  overflow: hidden;
  display: flex;
}

.feedback-item {
  display: flex;
  flex-shrink: 0;
  width: 100%;
}

.feedback-item .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.feedback-item .info .title {
  color: #f7f7f7;
  margin-top: 18px;
  font-family: Sen;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
  color: #bfbcb2;
  margin-top: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
}

.feedback-item .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.feedback-item .dot.active {
  background: #ffb900;
  cursor: default;
}

.feedback-item .content {
  width: 63%;
  margin-left: auto;
}

.feedback-item .content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}

/* ======Features====== */

.features {
  margin-top: 135px;
  padding: 65px 0;
}

.features .images {
  display: flex;
  gap: 0 30px;
}

.features img.lower {
  margin-top: 34px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.features .content .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.features .cta-btn {
  margin-top: 32px;
  min-width: 137px;
  color: #fff;
  cursor: pointer;
  border-radius: 26px;
  background: var(--primary-color);
}

.features-2nd {
  margin-top: 70px;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  flex-shrink: 0;
}

/* =========Blog========= */

.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}

.blog .blog-top .heading {
  color: #130606;
  font-family: Sen;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.blog .blog-top .desc {
  margin: 16px auto auto;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.blog .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}

.blog .item {
  width: 33.33%;
  border-radius: 16px;
  background: #fff;
}

.blog .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog .info .date {
  position: relative;
  padding-bottom: 12px;
  display: inline-flex;
  align-items: center;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.blog .item .date::before {
  content: "";
  margin-right: 4px;
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  display: inline-block;
  border-radius: 50%;
}

.blog .item .date::after {
  position: absolute;
  left: 0;
  content: "";
  right: -27px;
  bottom: 0;
  display: inline-block;
  height: 1px;
  border-radius: 0.5px;
  background: #e2dfda;
}

.blog .item .title a {
  margin: 12px 0;
  color: #171100;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.blog .item .btn:hover {
  border-radius: 25px;
  background: var(--primary-color);
}
